.hero{
  min-height: 550px;
  background: $bg-footer url("../images/hero_bg.jpg") right/cover no-repeat;
  color: $white;

  .container{
    position: relative;
    min-height: 450px;
  }

  &_block{
    @include centerer-y();

    .sub_title{
      font-size: 1.2rem;
      font-weight: 400;
    }

    a.btn{
      border: 2px solid $white;
      text-transform: uppercase;
      color:#fff;
      padding: .6rem 2rem;

      &:hover{
        background-color: #fff;
        color: $text-color-primary;
      }
    }
  }
}