section.about(id="about")
    .container(data-aos="fade-right" )
        h3.section_title.h1.text-center О нас
        p.text-center.text-weight-500.
            История презервативов насчитывает по крайней мере четыреста лет — он был изобретен в начале XVI века доктором
            Чарльзом Кондомом для Генриха VIII и был изготовлен из слизистой оболочки кишечника овцы. Самый старый
            презерватив, дошедший до наших дней, найден в Лунде, Швеция и датируется 1640 годом[1].
            По некоторым данным, презервативы использовались ещё в Древнем Египте и Древнем Риме.

        .row.preim
            .col
                .preim_block.text-center
                    .icon_shield
                    h4.preim_block_title Гарантии
                    p.preim_block_text.
                        Наш товар прошел соответсвующие проверки и абсолютно безопасен в использовани!
            .col
                .preim_block.text-center
                    .icon_delivery
                    h4.preim_block_title Быстрая доставка
                    p.preim_block_text.
                        Наш товар прошел соответсвующие проверки и абсолютно безопасен в использовани!
            .col
                .preim_block.text-center
                    .icon_check
                    h4.preim_block_title Ответственность
                    p.preim_block_text.
                        Наш товар прошел соответсвующие проверки и абсолютно безопасен в использовани!