section.about(id="about")
    .container(data-aos="fade-right" )
        h3.section_title.h1.text-center О нас
        p.text-center.text-weight-500.
            Добро пожаловать на сайт нашей компании. Мы предлагаем продукцию Contex крупным и мелким оптом с доставкой
            по РФ. С 2015 года мы обеспечиваем качественным товаром наших клиентов! Наши склады находятся в Новосибирске.
            Из него мы обеспечиваем доставку продукции до любого города России в максимально короткие сроки.
            Опираясь на опыт и знания наших специалистов, Мы выбираем индивидуальный подход к каждому покупателю,
            что позволяет находить наиболее эффективные схемы сотрудничества.


        .row.preim
            .col
                .preim_block.text-center
                    .icon_shield
                    h4.preim_block_title Гарантии
                    p.preim_block_text.
                        в цену товара включена доставка до вашего города
            .col
                .preim_block.text-center
                    .icon_delivery
                    h4.preim_block_title Быстрая доставка
                    p.preim_block_text.
                        отправка товара в течение 24 часов после оплаты
            .col
                .preim_block.text-center
                    .icon_check
                    h4.preim_block_title Ответственность
                    p.preim_block_text.
                        любая удобная форма оплаты
        br
        br
        p.text-center.text-weight-500
            |Вы хотите купить хороший и недорогой товар оптом  - и мы рады предоставить Вам такую возможность!
            |Надеемся на долгосрочное и плодотворное сотрудничество.
            |
            br
            |
            |Для заказа товара заполните форму обратной связи, менеджер свяжется с вами в ближайщее время для уточнения заказа!
