footer.footer(id="contacts")
    .container
        .footer_block.text-center
            h2.footer_block_title.text-uppercase наши контакты
            p.footer_block_text г. Благовещенск, ул. Ленина 142
            p.footer_block_text +7(4162) 45-56-55
            .footer_block_social
                a.fa-stack.fa-2x(href="#")
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
                a.fa-stack.fa-2x(href="#")
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
                a.fa-stack.fa-2x(href="#")
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse

.copyright
    .container
        .pull-left &copy 2017 Все права защищиены.
        .pull-right
            |Разработка -
            |
            a(href="//darkstudio.pro/" target="_blank") Dark Studio
        .clearfix