//
   Created by Nihrom on 22.06.2017.
header.header
    nav.navbar.navbar-toggleable-md.bg-primary.navbar-inverse.fixed-top
        .container
            a.navbar-brand.hidden-lg-up(href="#")
                img(src="images/logo.png")
            button( class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
                span.navbar-toggler-icon

            .collapse.navbar-collapse(id="navbarNav")
                a.navbar-brand.hidden-md-down(href="#")
                    img(src="images/logo.png")
                ul.navbar-nav.m-auto(id="scrollspy")
                    li.nav-item
                        a.nav-link(href="#hero") Главная
                    li.nav-item
                        a.nav-link(href="#about") О нас
                    li.nav-item
                        a.nav-link(href="#products") Продукция
                    li.nav-item
                        a.nav-link(href="#contacts") Контакты
                ul.navbar-nav.social.hidden-md-down
                    li.nav-item
                        a.fa-stack.fa-lg(href="https://vk.com/contex_opt_siberia" target="_blank")
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-vk.fa-stack-1x.fa-inverse
                    //-
                        li.nav-item
                            a.fa-stack.fa-lg(href="#")
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-instagram.fa-stack-1x.fa-inverse
                        li.nav-item
                            a.fa-stack.fa-lg(href="#")
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-facebook.fa-stack-1x.fa-inverse