section.hero(id="hero")
    .container
        .hero_block
            h1.hero_block_title
                |Оптовая
                br
                |продажа презервативов
                br
                |Contex Classic и
                br
                |Contex Lights.

            p.sub_title
                |Оптовые продажи со склада из городов
                br
                |Благовещенск, Владивосток, Новосибирск,
                br
                |Кемерово, Новокузнецк!
            a.btn.btn-outline-secondary.btn-lg(href="#about") Узнать больше

