section.products.contex_classic(id="products")
    .container
        .row.product
            .col-md-12.col-lg-8.col-xl-7
                .title_block.title_bordered
                    h2.h1.title Context Classic
                    p.sub_title Презервативы Contex в наличии в РФ, от 1 блока, в блоке 12 пачек.
                ul.product_list
                    li  1 блок - 12 пачек - 55 руб за пачку (660 руб, блок)
                    li  10 блоков - 120 пачек - 40 руб за пачку ( 480 руб за блок)
                    li  25 блоков - 300 пачек - 33,5 руб за пачку ( 402 руб за блок)
                    li  50 блоков - 600 пачек - 25 руб за пачку (300 руб за блок) (опт)
                    li  от 200 блоков - 2400 пачек -22 руб за пачку (264 руб за блок) (опт)
                    li  От 500 блоков – 6000 пачек – 18 руб за пачку (216 руб за блок) (опт)

                a.btn.btn-outline-primary(href="#" data-toggle="modal" data-target="#requestForm") Заказать продукцию

            .col-md-12.flex-md-first.col-lg-4.flex-lg-last.col-xl-5.text-center.img_col
                img(src="images/contex_classic.png")

section.products.contex_light
    .container
        .row.product
            .col-md-12.col-lg-4.col-xl-5.text-center.img_col
                img(src="images/contex_light.png")

            .col-md-12.col-lg-8.col-xl-7
                .title_block.title_bordered
                    h2.h1.title Context Light
                    p.sub_title Презервативы Contex в наличии в РФ, от 1 блока, в блоке 12 пачек.
                ul.product_list
                    li  1 блок - 12 пачек - 55 руб за пачку (660 руб, блок)
                    li  10 блоков - 120 пачек - 40 руб за пачку ( 480 руб за блок)
                    li  25 блоков - 300 пачек - 33,5 руб за пачку ( 402 руб за блок)
                    li  50 блоков - 600 пачек - 25 руб за пачку (300 руб за блок) (опт)
                    li  от 200 блоков - 2400 пачек -22 руб за пачку (264 руб за блок) (опт)
                    li  От 500 блоков – 6000 пачек – 18 руб за пачку (216 руб за блок) (опт)

                a.btn.btn-outline-primary(href="#" data-toggle="modal" data-target="#requestForm") Заказать продукцию
