doctype html
html
    head
        meta(charset="utf-8")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
        title Оптовая продажа презервативов Contex Classic и Contex Lights.
    body(data-spy="scroll" data-target="#scrollspy")
        include sections/header
        include sections/hero
        include sections/about
        include sections/products.pug
        include sections/form
        include sections/footer

    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/aos.js")
    script(src="js/common.js")
