// Fonts
$ff-main: 'Exo 2';

//Bootstrap
$border-radius: 0px;
$btn-border-radius: 0px;
$btn-border-radius-lg:0px;
$btn-secondary-color: #fff;
$navbar-inverse-color: #fff;

//Inputs
$input-color-placeholder: #a6a6a6;
$input-border-color: #747474;
$input-border-focus: #74497f;
$input-bg: #f9f9f9;

//Modal

//Background
$btn-primary-bg: #74497f;
$bg-primary: #74497f;
$bg-secondary: #f2f3f7;
$bg-third: #fdf2e8;
$bg-footer: #1b1b1b;
$bg-copyright: #161616;

//Text
$text-color-primary: #2d2d2d;
$text-color-secondary: #6e6e6e;
$text-color-light: #9b9a9a;
